@model SeminarManagementSystem.Models.SeminarType

@{
    ViewBag.Title = "Create";
}
<div>
    <h1 class="text-center text-info fw-bold">Create Seminar Type</h1>
    <hr />
</div>
<br />
<div class="div-center">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div>
                @Html.LabelFor(model => model.TypeName)
                @Html.EditorFor(model => model.TypeName)
                @Html.ValidationMessageFor(model => model.TypeName, "", new { @class = "text-danger" })
            </div>
            <br />
            <div class="div-center">
                <input type="submit" value="Create" class="button button-create" />
                @Html.ActionLink("Back to List", "Index", new { area = "" }, new { @class = "button button-back" })
            </div>
        </div>
    }

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
